/* Extends */


%mensaje {
    border: 1px solid black;
    padding: 10px;
    border-radius: 4px
}

.error {
    background-color: red;
    @extend %mensaje;
}

.accept {
    background-color: green;
    @extend %mensaje;
}

